.smiley-button {
  background: none;
  border: 0;
  padding: 0;
  border: 0;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.smiley-button img {
  width: 30px;
}

.smiley-button img:hover {
  opacity: 0.8;
}

.smiley-wrapper {
  background: #D5DAE2;
  border-left: 1px solid #AAAAAA;
  min-width: 30px;
  position: relative;
  height: 40px;
  padding-left: 10px;
}