.board {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.board__space {
  background: #DDDDDD;
  border: 0.5px solid #AAAAAA;
  flex-basis: calc((100% - 18px)/9);
  max-width: calc((100% - 18px)/9);
  position: relative;
}

.board__space--revealed {
  background: #ccc;
}

.board__space--flagged {
  background: url('/flag.png') no-repeat no-repeat center;
  background-size: 50%;
  background-color: #DDDDDD;
}
.board__space--revealed--mine {
  background: url('/mine.png') no-repeat no-repeat center;
  background-size: 50%;
  background-color: #FF4136;
}

.board__space--9 {
  padding-top: calc((100% - 18px)/9);
  flex-basis: calc((100% - 18px)/9);
  max-width: calc((100% - 18px)/9);
}

.board__space--16 {
  padding-top: calc((100% - 32px)/16);
  flex-basis: calc((100% - 32px)/16);
  max-width: calc((100% - 32px)/16);
}

.board__space--20 {
  padding-top: calc((100% - 40px)/20);
  flex-basis: calc((100% - 40px)/20);
  max-width: calc((100% - 40px)/20);
}

.board__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.board__value--revealed {
  display: block;
}