.board {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 0 0 1px;
  margin-bottom: 50px;
}