.App {
  text-align: center;
}

.App-header {
  background-color: #708090 ;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  position: relative;
}
.menu-board-wrapper {
  width: 50%;
  max-width: 525px;

}
.menu-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-bar__inner {
  display: flex;
  width: 100%;
  /*max-width: 450px;*/
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #C2CBCE;
  border-bottom: 0;
  border-style: solid;
  border-color: #AAAAAA;
  border-width: 1px 1px 0 0;
}

h1 {
  font-size: 30px;
  flex: 0 1 100%;
}

h1 span {
  position: relative;
}

h1 span::before,
h1 span::after {
  display: block;
  content: "";
  background: url('https://tyleraadams.com/whoa-sweeper/mine.png') center center no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 span::before {
  left: -36px;
}

h1 span::after {
  right: -36px;
}

.layout {
  display: flex;
  max-width: 1280px;
  justify-content: center;
}
@media only screen and (max-width: 667px) {
  .layout {
    display: block;
  }
  .menu-board-wrapper {
    width: 90%;
    max-width: none;
    margin: 0 auto;
  }
  .menu-bar__inner {
    max-width: none;
  }
}