.board__space {
  background: #DDDDDD;
  position: relative;
  padding-bottom: 100%;
  cursor: pointer;
}

.board__space:hover {
  background-color: #EEEEEE;
}

.board__space--revealed {
  background: #ccc;
  cursor: default;
}

.board__space--revealed:hover  {
   background-color: #ccc;
}

.board__space--flagged {
  background: url('/whoa-sweeper/flag.png') no-repeat no-repeat center;
  background-size: 50%;
  background-color: #DDDDDD;
  cursor: default;
}

.board__space--flagged:hover {
  background-color: #DDDDDD;
}

.board__space--revealed--mine {
  background: url('/whoa-sweeper/mine.png') no-repeat no-repeat center;
  background-size: 50%;
  background-color: #FF4136;
}

.board__grid {
  border-style: solid;
  border-color: #AAAAAA;
}

.board__grid--9 {
  border-width:  0  1px 1px  0;
  flex-basis: calc((100% - 9px) / 9);
  max-width: calc((100% - 9px) / 9);
}

.board__grid--16 {
  border-width:  0  1px 1px  0;
  flex-basis: calc((100% - 16px) / 16);
  max-width: calc((100% - 16px) / 16);
}

.board__grid--20 {
  border-width:  0  1px 1px  0;
  flex-basis: calc((100% - 20px) / 20);
  max-width: calc((100% - 20px) / 20);
}

.board__value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 14px;
  color: #111111;
}

.board__value--revealed {
  display: block;
}

.board__value--revealed--mine {
  display: none;
}
