.set-difficulty {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 26px;
  border: 2px solid #ccc;
  width: 65px;
  text-indent: 8px;
  margin-top: 15px;
  color: #111111;
  outline: none;
  background: #F8F8F8;
}

.set-difficulty--firefox {
  text-indent: 0;
  border-radius: 5px;
}

.set-difficulty--firefox:-moz-focusring {
  color:transparent;
  text-shadow:0 0 0 #000; /* your normal text color here */
}

.set-difficulty--firefox:-moz-focusring * {
  color:#000; /* your normal text color here */
  text-shadow:none;
  position: relative;
  left: -6px;
}